<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h2>{{ 'REGISTER.TITLE' | translate }}</h2>
      <p>{{ 'REGISTER.SUBTITLE' | translate }}</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="auth-form">
      <div class="form-row">
        <div class="form-group">
          <label for="firstName">{{ 'REGISTER.FIRSTNAME' | translate }}</label>
          <input 
            type="text" 
            id="firstName"
            formControlName="firstName" 
            class="form-control"
            [class.is-invalid]="submitted && f['firstName'].errors"
            [placeholder]="'REGISTER.FIRSTNAME_PLACEHOLDER' | translate">
          <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors['required']">{{ 'REGISTER.FIRSTNAME_REQUIRED' | translate }}</div>
            <div *ngIf="f['firstName'].errors['maxlength']">{{ 'REGISTER.FIRSTNAME_MAX' | translate }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">{{ 'REGISTER.LASTNAME' | translate }}</label>
          <input 
            type="text" 
            id="lastName"
            formControlName="lastName" 
            class="form-control"
            [class.is-invalid]="submitted && f['lastName'].errors"
            [placeholder]="'REGISTER.LASTNAME_PLACEHOLDER' | translate">
          <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors['required']">{{ 'REGISTER.LASTNAME_REQUIRED' | translate }}</div>
            <div *ngIf="f['lastName'].errors['maxlength']">{{ 'REGISTER.LASTNAME_MAX' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="username">{{ 'REGISTER.USERNAME' | translate }}</label>
        <input 
          type="text" 
          id="username"
          formControlName="username" 
          class="form-control"
          [class.is-invalid]="submitted && f['username'].errors"
          [placeholder]="'REGISTER.USERNAME_PLACEHOLDER' | translate">
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">{{ 'REGISTER.USERNAME_REQUIRED' | translate }}</div>
          <div *ngIf="f['username'].errors['minlength']">{{ 'REGISTER.USERNAME_MIN' | translate }}</div>
          <div *ngIf="f['username'].errors['maxlength']">{{ 'REGISTER.USERNAME_MAX' | translate }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">{{ 'REGISTER.EMAIL' | translate }}</label>
        <input 
          type="email" 
          id="email"
          formControlName="email" 
          class="form-control"
          [class.is-invalid]="submitted && f['email'].errors"
          [placeholder]="'REGISTER.EMAIL_PLACEHOLDER' | translate">
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">{{ 'REGISTER.EMAIL_REQUIRED' | translate }}</div>
          <div *ngIf="f['email'].errors['email']">{{ 'REGISTER.EMAIL_INVALID' | translate }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">{{ 'REGISTER.PHONE' | translate }}</label>
        <input 
          type="tel" 
          id="phone"
          formControlName="phone" 
          class="form-control"
          [class.is-invalid]="submitted && f['phone'].errors"
          [placeholder]="'REGISTER.PHONE_PLACEHOLDER' | translate">
        <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
          <div *ngIf="f['phone'].errors['maxlength']">{{ 'REGISTER.PHONE_MAX' | translate }}</div>
          <div *ngIf="f['phone'].errors['required']">{{ 'REGISTER.PHONE_REQUIRED' | translate }}</div>
          <div class="error-message" *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
              {{ 'REGISTER.PHONE_INDICATIF' | translate }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="password">{{ 'REGISTER.PASSWORD' | translate }}</label>
          <div class="password-wrapper">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              id="password"
              formControlName="password" 
              class="form-control"
              [class.is-invalid]="submitted && f['password'].errors"
              [placeholder]="'REGISTER.PASSWORD_PLACEHOLDER' | translate">

            <button 
              type="button" 
              class="toggle-password" 
              (click)="showPassword = !showPassword" 
              tabindex="-1">
              <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </button>
          </div>

          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">{{ 'REGISTER.PASSWORD_REQUIRED' | translate }}</div>
            <div *ngIf="f['password'].errors['minlength']">{{ 'REGISTER.PASSWORD_MIN' | translate }}</div>
            <div *ngIf="f['password'].errors['maxlength']">{{ 'REGISTER.PASSWORD_MAX' | translate }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</label>
          <div class="password-wrapper">
            <input 
              [type]="showConfirmPassword ? 'text' : 'password'" 
              id="confirmPassword"
              formControlName="confirmPassword" 
              class="form-control"
              [class.is-invalid]="submitted && f['confirmPassword'].errors"
              [placeholder]="'REGISTER.CONFIRM_PASSWORD_PLACEHOLDER' | translate">
              <button 
                type="button" 
                class="toggle-password" 
                (click)="showConfirmPassword = !showConfirmPassword" 
                tabindex="-1">
                <i [class]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
              </button>
          </div>
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']">{{ 'REGISTER.CONFIRM_PASSWORD_REQUIRED' | translate }}</div>
            <div *ngIf="f['confirmPassword'].errors['mustMatch']">{{ 'REGISTER.CONFIRM_PASSWORD_MATCH' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button 
          type="submit" 
          class="btn btn-primary btn-block"
          [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{ 'REGISTER.SUBMIT' | translate }}
        </button>
      </div>

      <div class="auth-links">
        <span>{{ 'REGISTER.ALREADY_ACCOUNT' | translate }}</span>
        <a routerLink="/login" class="link">{{ 'REGISTER.LOGIN' | translate }}</a>
      </div>
    </form>
  </div>
</div>
