:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.order-detail-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 20px;

  h1 { margin: 0 0 5px 0; font-size: 28px; }
  p { margin: 0; color: #6c757d; }
}

.detail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.status-control {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  .status { /* Reprendre les styles de la liste */ }
  select { padding: 10px; border-radius: 8px; border: 1px solid #ced4da; }
}

.summary-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  &.total { font-size: 1.1em; margin-top: 15px; }
}

.detail-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);

  h2 {
    margin: 0 0 20px 0;
    font-size: 18px;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
  }

  p { margin: 5px 0; }
}

.orders-table-container {
  overflow-x: auto;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  .product-info {
    display: flex;
    align-items: center;
    gap: 15px;

    img { 
      width: 50px; 
      height: 50px; 
      object-fit: cover; 
      border-radius: 8px; 
      border: 1px solid #ddd;
    }
  }

  th, td {
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    vertical-align: middle;
  }

  th {
    font-weight: 600;
    color: #495057;
    font-size: 14px;
    background-color: #f8f9fa00;
  }

  td {
    font-size: 14px;
    color: #333;
  }

  tbody {
    tr {
      // Alternance de couleur pour les lignes
      &:nth-child(odd) {
        background-color: #fafafa;
      }

      &:nth-child(even) {
        background-color: #ffffff;
      }

      // Effet au survol
      &:hover {
        background-color: #f0f8ff;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }

  .no-data {
    text-align: center;
    padding: 40px;
    color: #6c757d;
    background-color: #fff;
  }
}


// Responsive screen
@media (max-width: 768px){
  .order-detail-container {
    gap: 10px;
  }

  .detail-card {
    h2 {
      font-size: 16px;
    }
  }

  .detail-header {
    h1 { margin: 0 0 5px 0; font-size: 23px; }
    p { margin: 0; color: #6c757d; font-size: 13px;}
  }
}