<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h2>{{ 'NEWPASS.TITLE' | translate }}</h2>
      <p>{{ 'NEWPASS.SUBTITLE' | translate }}</p>
    </div>

    <form [formGroup]="newpassForm" (ngSubmit)="onSubmit()" class="auth-form">
      <div class="form-row">
        <div class="form-group">
          <label for="password">{{ 'NEWPASS.PASSWORD' | translate }}</label>
          <input 
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password" 
            class="form-control"
            [class.is-invalid]="submitted && f['password'].errors"
            [placeholder]="'NEWPASS.PASSWORD_PLACEHOLDER' | translate">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword" tabindex="-1">
              <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </button>
          </div>
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">{{ 'NEWPASS.PASSWORD_REQUIRED' | translate }}</div>
            <div *ngIf="f['password'].errors['minlength']">{{ 'NEWPASS.PASSWORD_MIN' | translate }}</div>
            <div *ngIf="f['password'].errors['maxlength']">{{ 'NEWPASS.PASSWORD_MAX' | translate }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">{{ 'NEWPASS.CONFIRM_PASSWORD' | translate }}</label>
          <input 
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            formControlName="confirmPassword" 
            class="form-control"
            [class.is-invalid]="submitted && f['confirmPassword'].errors"
            [placeholder]="'NEWPASS.CONFIRM_PASSWORD_PLACEHOLDER' | translate">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="showConfirmPassword = !showConfirmPassword" tabindex="-1">
              <i [class]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </button>
          </div>
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']">{{ 'NEWPASS.CONFIRM_PASSWORD_REQUIRED' | translate }}</div>
            <div *ngIf="f['confirmPassword'].errors['mustMatch']">{{ 'NEWPASS.CONFIRM_PASSWORD_MATCH' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button 
          type="submit" 
          class="btn btn-primary btn-block"
          [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{ 'NEWPASS.SUBMIT' | translate }}
        </button>
      </div>

      <div class="auth-links">
        <a routerLink="/login" class="link">{{ 'NEWPASS.BACK_LOGIN' | translate }}</a>
        <div class="separator">•</div>
      </div>
    </form>
  </div>
</div>
